
body{
    background-image: url(download.jpeg);
    background-size: cover;
}
h1{
    text-align: center;
}
#demon{
    text-align: center;
    
}
#demo{
    text-align: center;
}
#demo1{
    text-align: center;
}